* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}



/* utilities */
html {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

ul,
ol,
menu {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.column-ul {
    flex-direction: column;
}

img {
    max-width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

:root {
    --dark: #000000;
    --dark-grey: #080b12;
    --grey-blue: #141922;
    --grey: #282828;
    --light-grey: #5a5a5a;
    --green: #adff2f;
    --light: #FFFFFF;
}

.color-white {
    color: var(--light);
}

.color-light-grey {
    color: var(--light-grey);
}

.opacity-light {
    filter: opacity(80%);
}

.opacity-heavy {
    filter: opacity(40%);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.grow-1 {
    flex-grow: 1;
}

.bold {
    font-weight: bold;
}



.column {
    flex-direction: column;
}

.display-none {
    display: none;
}














/* app */

.app {
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.app__container {
    overflow: hidden;
    flex-grow: 1;
}

.app__sidebar {
    width: 50px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: var(--dark);
}

.app__content {
    flex-grow: 1;
    background-color: var(--grey-blue);
}

.app__player {
    overflow: hidden;
    background-color: var(--grey);
    min-height: 90px;
    justify-content: space-between;
}

.track-player {
    width: 50%;
}

.album,
.track-controls {
    width: 230px;
}

.album {

    gap: 20px;
}

.album__cover {
    width: 28px;

}

.album__specs {
    flex-grow: 1;
    gap: 10px;
}

.album__track-name {
    color: var(--light);
}

.album__controls {
    gap: 10px;
    flex-wrap: wrap;
    color: var(--light-grey);
}

.track-player .controls {
    gap: 20px;
    font-size: 22px;
}

.control-play {
    font-size: 30px;
    margin: 0 20px;
}

.track-timeline {
    gap: 14px;
}

.progress-bar {
    background-color: var(--light-grey);
    border-radius: 999px;
    position: relative
}

.progress {
    height: 6px;
    background-color: white;
    width: 25%;
}

.progress-handler {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 999px;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar:hover .progress-handler {
    display: block;
}

.progress-bar:hover .progress {
    background-color: var(--green);
}

.track-controls {
    gap: 20px;

    font-size: 18px;
}

/* app-sidebar */

.app__sidebar {}

.logo-bar {}

.logo-lg {
    max-width: 200px;
    display: none;
    margin: 10px 10px;
}

.logo-sm {
    max-width: 40px;
    margin: 10px 10px;
}

.cta-icons {
    max-width: 25px;
}

.menu {
    margin-top: 15px;
    margin-bottom: 15px;

}

.menu__options {
    gap: 10px;
    margin: 8px 10px;
    position: relative;
}

.playlist {
    display: none;
}

.add-button {
    font-size: 50px;
}

.playlist_title {
    font-weight: bold;
    text-transform: uppercase;

}

.create-playlist {
    gap: 10px;
    margin: 10px 0;
}

.playlist_content {
    gap: 20px;
    margin: 0 10px;
}

.account {
    margin-top: auto;

}

.install-app {
    padding-bottom: 15px;
    gap: 10px;
    border-bottom: 1px solid white;
    margin: 0 10px;
}

.install {
    width: 20px;
}

.profile_picture {
    max-width: 25px;
    background-color: var(--light-grey);
    border-radius: 999px;
}

.profile_name {
    font-weight: bold;
}

.profile {
    gap: 10px;
    margin: 20px 10px;
}

.main-nav-cta {
    display: none;
}

.account__text {
    display: none;
}

.home-button.menu__options.flex.items-center::before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 2px;
    background-color: var(--green);
    top: 0;
    left: -10px;
}


.app__content {
    position: relative;

}

.app__upgrade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}



@media (min-width: 576px) {}

@media (min-width: 768px) {
    .app__sidebar {
        width: 230px;
    }

    .album,
    .track-controls {
        max-width: 230px;
    }

    .album__cover {
        width: 42px;
    }

    .track-timeline {
        gap: 24px;
    }

    .logo-lg {
        display: block;
    }

    .logo-sm {
        display: none;
    }

    .main-nav-cta {
        display: block;
    }

    .playlist {
        display: block;
    }

    .account__text {
        display: block;
    }

    .cta-icons {
        max-width: 40px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}











.debu .app__container {
    border: 2px solid blue;
    padding: 30px;
}

.debu .app__sidebar {
    border: 2px solid red;

}

.debu .app__content {
    border: 2px solid orange;
    padding: 30px;
}

.debu .app__player {
    border: 2px solid lightgreen;
    background-color: var(--grey);
}

.debu .app__player>* {
    border: 2px solid yellow;

}

.debu .menu {
    border: 2px solid tomato;
}

.debug .app__albums {
    padding: 60px;
    border: 2px solid cornflowerblue;
}

.debug .app__upgrade {
    padding: 20px;
    border: 2px dashed tomato;
}