* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.column-ul {
    flex-direction: column;
}

img {
    max-width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}


:root {
    --dark: #000000;
    --dark-grey: #080b12;
    --grey-blue: #141922;
    --grey: #282828;
    --light-grey: #5a5a5a;
    --green: #adff2f;
    --light: #FFFFFF;
}

.color-white {
    color: var(--light);
}

.color-light-grey {
    color: var(--light-grey);
}







.container {
    display: flex;
}

.aside {
    width: 50px;
    position: relative;
}

.content {
    height: 100vh;
    flex-grow: 1;
    overflow: hidden;
}

.player {
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    padding: 20px;
}

.player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playing-now {
    display: flex;
    align-items: center;
    gap: 10px;
    
}










.song-title {
    font-size: 20px;
}
.sinister {
    max-width: 42px;
}




















.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}










@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}











.debu .container {
    border: 2px solid blue;
    padding: 30px;
}

.debug .aside {
    border: 2px solid red;
    padding: 30px;
}

.debug .content {
    border: 2px solid orange;
    padding: 30px;
}

.debug .player {
    border: 2px solid lightgreen;
    background-color: var(--grey);
}